body {
    background-color: #DEDEDE;
}
.palya{
    width: 1000px;
    height: 400px;
    border-width: 1px;
    border-color: black;
    border-style: solid;
    background-color: #ECECEC;
}
.uto1{
    position: absolute;
    top: 175px;
    left: 20px;
    width: 3px;
    height: 50px;
    background-color: blue;
    border-color: black;
    border-width: 2px;
    border-style: solid;
}
.uto2{
    position: absolute;
    top: 175px;
    left: 990px;
    width: 3px;
    height: 50px;
    background-color: red;
    border-color: black;
    border-width: 2px;
    border-style: solid;
}

.labda{
    position: absolute;
    top: 175px;
    left: 497px;
    width: 5px;
    height: 5px;
    background-color: #FFFF00;
    border-color: black;
    border-width: 2px;
    border-style: solid;
}
#balszamlalo {
    position: absolute;
    top: 405px;
    color: blue;
}
#jobbszamlalo {
    position: absolute;
    top: 405px;
    left: 990px;
    color: red;
}
.elougroab {
    z-index: 50;
    width: 300px;
    height: 200px;
    position: absolute;
    top: 100px;
    left: 250px;
    background-color: coral;
    display: none
}

.elougroabopen {
    z-index: 50;
    width: 300px;
    height: 200px;
    position: absolute;
    top: 100px;
    left: 250px;
    background-color: coral;
    display: block;
}
.elougroabkezd {
    z-index: 50;
    width: 300px;
    height: 200px;
    position: absolute;
    top: 100px;
    left: 250px;
    background-color: coral;
    display: block;
}
.elougroabkezdopen {
    z-index: 50;
    width: 300px;
    height: 200px;
    position: absolute;
    top: 100px;
    left: 250px;
    background-color: coral;
    display: none;
}
.valtas{
    position: fixed;
    left: 1020px;
}