body {
    background-color: #dedede;
    overflow: hidden;
}

.topnavopen a {
    color: white;
    position: absolute;
    margin-left: 97%;
    cursor: pointer;
    margin-top: 1%;
    z-index: 60;
}

.topnavopen {
    background-color: black;
    width: 100%;
    height: 7%;
    position: fixed;
    margin-left: 0%;
    margin-top: 0%;
    left: 0%;
    top: 93%;
    z-index: -50;
}

.logo1 {
    width: 100px;
    height: 100px;
    margin-left: 1.5%;
    cursor: pointer;
    margin-left: 42%;
    bottom: 0%;
    position: absolute;
}

.logo2 {
    width: 100px;
    height: 100px;
    margin-left: 52.5%;
    cursor: pointer;
    bottom: 0%;
    position: absolute;
}

.palya {
    width: 1000px;
    height: 400px;
    border-width: 1px;
    border-color: black;
    border-style: solid;
    background-color: #ececec;
    position: absolute;
    left: 10.5%;
    top: 15%;
}

.uto1 {
    position: absolute;
    top: 175px;
    left: 14px;
    width: 3px;
    height: 50px;
    background-color: blue;
    border-color: black;
    border-width: 2px;
    border-style: solid;
}

.uto2 {
    position: absolute;
    top: 175px;
    left: 980px;
    width: 3px;
    height: 50px;
    background-color: red;
    border-color: black;
    border-width: 2px;
    border-style: solid;
}

.labda {
    position: absolute;
    top: 175px;
    left: 497px;
    width: 5px;
    height: 5px;
    background-color: #ffff00;
    border-color: black;
    border-width: 2px;
    border-style: solid;
}

#balszamlalo {
    position: absolute;
    top: 405px;
    color: blue;
}

#jobbszamlalo {
    position: absolute;
    top: 405px;
    left: 990px;
    color: red;
}

#baljatekos {
    position: absolute;
    top: 420px;
    color: blue;
}

#jobbjatekos {
    position: absolute;
    top: 420px;
    left: 970px;
    color: red;
}

.elougroab {
    z-index: 50;
    width: 300px;
    height: 200px;
    position: absolute;
    top: 32.5%;
    left: 37.5%;
    background-color: #f9e3c1;
    display: none;
    border-radius: 25px;
    text-align: center;
}

.elougroabopen {
    z-index: 50;
    width: 300px;
    height: 200px;
    position: absolute;
    top: 32.5%;
    left: 37.5%;
    background-color: #f9e3c1;
    display: block;
    border-radius: 25px;
    text-align: center;
}

.elougroabkezd {
    z-index: 50;
    width: 300px;
    height: 250px;
    position: absolute;
    top: 32.5%;
    left: 37.5%;
    background-color: #f9e3c1;
    display: block;
    border-radius: 25px;
    text-align: center;
}

.elougroabkezdopen {
    z-index: 50;
    width: 300px;
    height: 200px;
    position: absolute;
    top: 32.5%;
    left: 37.5%;
    background-color: #f9e3c1;
    display: none;
    border-radius: 25px;
    text-align: center;
}
